<div class="container preview">
    <nb-card class="shadow">
        <div class="invoice-box" id="invoice">
            <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr class="top">
                    <td colspan="6">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="assets/img/logo.png">
                                </td>
                                <td>
                                    Invoice #: {{ bill.id }}<br>
                                    Created: {{ bill.created_at | date:'dd/MM/yyyy' }}<br>
                                    Customer: {{ bill.customer }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr class="information">
                    <td colspan="4">
                        <table>
                            <tr></tr>
                        </table>
                    </td>
                </tr>
                
                <tr class="heading">
                    <td>#</td>
                    <td>Item</td>
                    <td>Price</td>
                    <td>Tax</td>
                    <td>Number of items</td>
                    <td>Total item</td>
                </tr>
                
                <tr  *ngFor="let item of bill.items; let i = index" [ngClass]="{'boders item': true, 'last':  bill.items.length === (i+1)}">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>$ {{ item.price | number:'.2-2':'es-ES' }}</td>
                    <td>% {{ item.tax | number:'2.2-2':'es-ES' }}</td>
                    <td>{{ item.numberItems | number:'1.':'es-ES' }}</td>
                    <td>$ {{ item.totalItem | number:'2.2-2':'es-ES' }}</td>
                </tr>
                
                <tr>
                    <td colspan="4">
                        <br>
                    </td>
                </tr>

                <tr class="total">
                    <td colspan="4"></td>
                    <td colspan="2">
                        Sub Total: $ {{ bill.subTotal | number:'.2-2':'es-ES' }}
                    </td>
                </tr>
                <tr class="total">
                    <td colspan="4"></td>
                    <td colspan="2">
                        Total Taxes: $ {{ bill.totalTaxes | number:'.2-2':'es-ES' }}
                    </td>
                </tr>
                <tr class="total">
                    <td colspan="4"></td>
                    <td colspan="2">
                        Total: $ {{ bill.total | number:'.2-2':'es-ES' }}
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </nb-card>
</div> 