<h1 id="title" class="title">Register</h1>

<nb-alert *ngIf="errors?.length" outline="danger" role="alert">
  <p class="alert-title"><b>An error occurred</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" [formGroup]="registerForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="username">Username:</label>
    <input nbInput
           formControlName="username"
           placeholder="Username"
           fullWidth
           [textMask]="{mask: mask, guide: false}"
           [status]="((f.username.dirty || f.username.touched) && f.username.invalid) ? 'danger' : ''">
    <ng-container *ngIf="(f.username.dirty || f.username.touched) && f.username.invalid">
      <p class="caption status-danger" *ngIf="f.username.errors?.required">
        Username is required!
      </p>
      <p class="caption status-danger" *ngIf="f.username.errors?.noWhitespaceRequired">
        Whitespaces are not allowed!
      </p>
      <p class="caption status-danger" *ngIf="f.username.errors?.minlength || f.username.errors?.maxlength">
        Username mshould contain between {{ f.username.errors?.minlength?.requiredLength }} and {{ f.username.errors?.maxnlength?.requiredLength }} characters!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="email">Email:</label>
    <input nbInput
           formControlName="email"
           placeholder="Email"
           fullWidth
           [textMask]="{mask: mask, guide: false}"
           [status]="(f.email.dirty || f.email.touched) && f.email.invalid ? 'danger' : ''">
    <ng-container *ngIf="(f.email.dirty || f.email.touched) && f.email.invalid">
      <p class="caption status-danger" *ngIf="f.email.errors?.required">
        Email is required!
      </p>
      <p class="caption status-danger" *ngIf="f.email.errors?.invalidEmail">
        Email should be valid email!
      </p>
      <p class="caption status-danger" *ngIf="f.email.errors?.minlength || f.email.errors?.maxlength">
        Email mshould contain between {{ f.email.errors?.minlength?.requiredLength }} and {{ f.email.errors?.maxnlength?.requiredLength }} characters!
      </p>
   </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="password">Password:</label>
    <input nbInput
           type="password"
           formControlName="password"
           placeholder="Password"
           fullWidth
           [status]="((f.password.dirty || f.password.touched) && f.password.invalid) ? 'danger' : ''">
    <ng-container *ngIf="(f.password.dirty || f.password.touched) && f.password.invalid">
      <p class="caption status-danger" *ngIf="f.password.errors?.required">
        Password is required!
      </p>
      <p class="caption status-danger" *ngIf="f.password.errors?.minlength">
        Password should contains at least {{ f.password.errors?.minlength?.requiredLength }} characters!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="confirmPassword">Repeat password:</label>
    <input nbInput
           type="password"
           formControlName="confirmPassword"
           placeholder="Confirm Password"
           fullWidth
           [status]="((f.confirmPassword.dirty || f.confirmPassword.touched) && f.confirmPassword.invalid) ? 'danger' : ''">
    <ng-container *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched) && f.confirmPassword.invalid">
      <p class="caption status-danger" *ngIf="f.confirmPassword.errors?.required">
        Password confirmation is required!
      </p>
      <p class="caption status-danger" *ngIf="f.confirmPassword.errors && f.confirmPassword.errors?.ConfirmPassword">
        Passwords don't match!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox status="primary" (checkedChange)="toggle($event)">
      Agree to <a routerLink="../policies" target="_blank"><strong>Terms & Policies</strong></a>
    </nb-checkbox>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          [nbSpinner]="loading" 
          nbSpinnerStatus="primary"
          [disabled]="!registerForm.valid">
    Register
  </button>

</form>

<section class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials pointer">
        <nb-icon icon="google" pack="eva" (click)="signInWithGoogle()"></nb-icon>
  </div>
</section>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log In</a>
</section>
<section class="another-action" aria-label="Contact">
  <a class="text-link" routerLink="../contact">Contact</a>
</section>